body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app {
  margin: 0;
  padding: 0;
  height: 100%;
}